body {
    background-color: rgb(70, 66, 66);
}

.contener {
    max-width: 1200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;

}

.contener {
    display: flex;
    justify-content: center;
}

.promo {

    margin: 0 auto;

    h1 {

        font-size: 15px;
        color: rgb(224, 224, 224);
    }
    h4{
        color: rgb(221, 214, 214);
        text-align: center;
        a{
            color: rgb(69, 69, 214);
            text-decoration: none;
            &:hover{
                color: rgb(176, 175, 175) ;
            }
        }
    }
}



.main {
    padding: 20px 50px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    color: white;
    background-color: rgb(42, 42, 42);

    input {
        margin: 0 auto;
        height: 50px;
        margin-bottom: 30px;
        width: 100%;
        border: 1px solid rgb(165, 165, 165);
        border-radius: 10px;
        background-color: #323233;
        text-align: 20px;
        padding: 0 0 0 10px;

    }

    button {
        height: 50px;
        color: white;
        width: 100%;
        margin: 0 auto;

        border-radius: 10px;
        border: 1px solid rgb(165, 165, 165);
        background-color: #323233;

        &:hover {
            cursor: pointer;
            background-color: #656565;
        }
    }
    h3{
        font-size: 15px;
        text-align: center;
    }
   
}
@import"media"